.bdn-div{
    overflow: auto;
    margin-top: 15px;
    max-height: calc(100vh - 230px);
}

.bdn{
    border: 1px solid #000;
    margin: 5px 0px;
    width: 100%;
    white-space: nowrap;
}

.bdn div[data-key]{
    display: inline-block;
    vertical-align: top;
}


.bdn td div{
    padding: 5px;
}

.bdn td[data-key] .head{
    background: #355c9f;
    color: #fff;
    border: 1px solid #000;
}

.bdn td[data-key] .content{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}