.juncao{
    border: 1px solid #000;
    margin: 5px 1.3%;
    display: inline-block;
    width: 30%;
}

.juncao div[data-key]{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

/*.juncao div[data-key=vsatname]{
    width: 100%;
    text-align: center;
}*/


.juncao div[data-key] .head{
    background: #355c9f;
    color: #fff;
    border: 1px solid #000;
}

.juncao div[data-key] .content{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}