.relatorio-div{
    text-align: center;
}
.canvas-container{
    max-height: 400px;
    max-width: 100%;
    display: inline-block;

}
.canvas-container > div{
    max-height: 400px;
    max-width: 100%;
}

.canvas-container canvas{
    width: 100%;
}