<div class="relatorio-div">
    <div class="canvas-container">
        <canvas id="categ" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="ipgw" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="uf" width="950" height="350"></canvas>
    </div>

    <div class="canvas-container">
        <canvas id="dncc" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="hub" width="950" height="350"></canvas>
    </div>
</div>