<div class="relatorio-div">
    <div class="canvas-container">
        <canvas id="categ" width="400" height="400"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="ipgw" width="400" height="400"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="uf" width="400" height="400"></canvas>
    </div>

    <div class="canvas-container">
        <canvas id="dncc" width="400" height="400"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="hub" width="400" height="400"></canvas>
    </div>
</div>