<div class="relatorio-div">
    <div>
        <button class="get-pdf" onclick="Relatorio.getPDF()" >Gerar PDF</button>
    </div>
    <div class="canvas-container">
        Relatório de Junções (Categorias)
        <canvas id="agn-categ" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de Junções (IP Gateways)
        <canvas id="agn-ipgw" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de Junções (UF)
        <canvas id="agn-uf" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de Junções (DNCC)
        <canvas id="agn-dncc" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de Junções (HUB)
        <canvas id="agn-hub" width="950" height="350"></canvas>
    </div>

    <div class="canvas-container">
        Relatório de BDNs (IP Gateways)
        <canvas id="bdn-ipgw" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de BDNs (UF)
        <canvas id="bdn-uf" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de BDNs (DNCC)
        <canvas id="bdn-dncc" width="950" height="350"></canvas>
    </div>
    <div class="canvas-container">
        Relatório de BDNs (HUB)
        <canvas id="bdn-hub" width="950" height="350"></canvas>
    </div>
</div>