{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>EMBRATEL</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div class="all" >
			<div class="header" >
				<div class="header-title" >
					<div class="header-img-container" ><img class="header-logo" src="{% static "img/logo.png" %}" /></div>
				</div>
				<div class="menu">
					<div class="menu-item active" >Junções</div>
					<div class="menu-item" >Equipamentos</div>
					<div class="menu-item" >Relatórios</div>
					<input type="text" name="busca" class="menu-busca" />
				</div>
			</div>
			<div id="main" class="main-container" >
			</div>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<script src="{% static 'js/default.js' %}"></script>
		<script src="{% static 'js/page.js' %}"></script>
		<script src="{% static 'js/helpers.js' %}"></script>
	</body>
</html>